@tailwind base;

@tailwind components;

@tailwind utilities;

a {
    @apply text-teal-700;
}

@keyframes fade {
    0% {
        @apply border border-t-0 border-l-0 border-r-0 border-b-2 border-transparent;
    }
    100% {
        @apply border border-t-0 border-l-0 border-r-0 border-b-2 border-teal-700;
    }
}

.fade-in:hover {
    animation: fade 0.5s ease-in 0s 1 normal forwards;
}

.nav-item:hover {
    animation: fade 0.5s ease-in 0s 1 normal forwards;
}

@for $i from 1 through 14 {
    .portfolio-#{$i} {
        background-image: url(/img/thumbnails/#{$i}.png);
    }
}
