.page-background {
  @apply bg-grey-lighter h-full bg-no-repeat bg-cover bg-fixed;
  background-image: url(/img/header.png);
}

.wrapper {
  @apply bg-white border border-transparent mx-auto px-8 py-6;
}

.section {
  @apply pb-8;
}

a {
  @apply text-blue-light;
}

@keyframes fade {
  0% {
    @apply border border-t-0 border-l-0 border-r-0 border-b-2 border-transparent;
  }
  100% {
    @apply border border-t-0 border-l-0 border-r-0 border-b-2 border-blue-light;
  }
}

.fade-in:hover {
  animation: fade 0.5s ease-in 0s 1 normal forwards;
}

.nav {
  @apply flex flex-col justify-end pb-4;
}

.nav-button {
  @apply block;
}

.nav-links {
  @apply hidden;
}

.nav-item {
  @apply flex-auto py-2 px-1 text-center;
}

.nav-item:hover {
  animation: fade 0.5s ease-in 0s 1 normal forwards;
}

.nav-item > a {
  @apply no-underline text-grey-darker text-lg font-serif;
}

.nav-title {
  @apply py-2 border-b-2 border-transparent w-2/3 text-2xl font-serif;
}

.heading {
  @apply text-4xl py-4 text-right font-serif;
}

.subheading {
  @apply text-2xl font-normal font-serif;
}

.text {
  @apply text-xl leading-loose text-justify font-serif;
}

.hr {
  @apply border-b border-grey my-6;
}

.portfolio-container {
  @apply flex flex-col flex-wrap justify-between;
}

.portfolio-item {
  @apply flex-col w-full m-4;
}

.portfolio-image {
  @apply flex justify-center items-end font-bold text-xl text-center h-64 bg-center bg-no-repeat bg-cover;
}

@for $i from 1 through 14 {
  .portfolio-#{$i} {
    background-image: url(/img/thumbnails/#{$i}.png);
  }
}

.portfolio-title {
  @apply bg-black text-xl text-white opacity-75 w-full py-4 px-2 font-normal font-sans;
}

.form-group {
  @apply flex flex-col py-2;
}

.form-input {
  @apply text-xl font-serif w-full border bg-grey-lightest p-4;
}

.form-input:hover {
  @apply bg-white border-blue-light outline-none;
}

.form-error {
  @apply text-red pt-2 text-lg font-serif;
}

.btn {
  @apply text-xl text-blue-light font-serif px-4 py-2 border-4 border-blue-light rounded-full;
}

.btn:hover {
  @apply bg-blue-light text-white;
}

.btn:focus {
  @apply outline-none;
}

.list {
  @apply list-reset text-xl leading-loose font-serif;
}
.nav-links {
  @apply hidden;
}

@screen md {
  .nav {
    @apply flex-row;
  }

  .nav-button {
    @apply hidden;
  }

  .nav-links {
    @apply flex flex-row justify-around w-2/3;
  }

  .portfolio-container {
    @apply flex-row;
  }

  .portfolio-item {
    @apply w-1/3 flex-grow;
  }
}

@screen lg {
  .portfolio-item {
    @apply w-1/4;
  }
}
